/* line 32, ../scss/grid.scss */
.header,
.body,
.footer {
  *position: relative;
  *zoom: 1;
}
/* line 46, ../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:before, .header:after,
.body:before,
.body:after,
.footer:before,
.footer:after {
  content: "";
  display: table;
}
/* line 50, ../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.header:after,
.body:after,
.footer:after {
  clear: both;
}

/* line 37, ../scss/grid.scss */
.logo {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}

/* line 41, ../scss/grid.scss */
.nav--primary {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}

/* line 45, ../scss/grid.scss */
.hero {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}

/* line 49, ../scss/grid.scss */
.profiles {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}

/* line 53, ../scss/grid.scss */
.nav--info {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("https://raw.github.com/Schepp/box-sizing-polyfill/master/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}
