/**
* Grid Stylesheet
*
* Defines all Zen Grid based layouts 
* 
* This stylesheet contains the default Zen Grid container layout, as well as 
* all progressive width-based grid layouts. All blocks should be positioned
* via this global stylesheet - NOT on their respective block stylesheets.
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           2013-05-14
* @lastmodified   2013-05-14 17:58
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Zen Grid Settings (Mobile) 
*/

/** Variables */
$zen-column-count: 1;
$zen-gutter-width: 20px;

/** Containers */
.header__inner,
.body__inner,
.footer__inner {
  @include zen-grid-container();
}

/** Blocks */
.logo {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.nav--primary {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.profiles {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.nav--info {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.press {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.nav--about {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.mailing-list {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.copyright {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.links {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.page__column {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.placard--register {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.placard--login {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.placard--reset {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}
.placard--profile {
  @include zen-grid-item(1, 1);
  @include zen-clear();
}

/**
* Zen Grid Settings (Tablet)
*/
@media screen and (min-width: $width-tablet) {
 
  /** Variables */ 
  $zen-column-count: 12;
  $zen-gutter-width: 10px;
  $grid-tablet: 90%;

  /** Containers */
  .header__inner,
  .body__inner,
  .footer__inner {
    @include grid-width($grid-tablet);
  }

  /** Blocks */ 
  .logo {
    @include zen-grid-item(4, 1);
    @include zen-clear(none);
  }
  .nav--primary {
    @include zen-grid-item(8, 1, right);
    @include zen-clear(none);
  }
  .profiles {
    @include zen-grid-item(12, 1);
  }
  .nav--info {
    @include zen-grid-item(12, 1);
  }
  .press {
    @include zen-grid-item(12, 1);
  }
  .nav--about {
    @include zen-grid-item(5, 1);
    @include zen-clear(none);
  }
  .mailing-list {
    @include zen-grid-item(7, 1, right);
    @include zen-clear(none);
  }
  .copyright {
    @include zen-grid-item(7, 1, right);
    @include zen-clear(right);
  }
  .links {
    @include zen-grid-item(7, 1, right);
    @include zen-clear(right);
  }
  .page__column--left {
    @include zen-grid-item(6, 1);
    @include zen-clear();
  }
  .page__column--right {
    @include zen-grid-item(6, 1, right);
    @include zen-clear(right);
  }
  .placard--register {
    @include zen-grid-item(10, 2);
  }
  .placard--login {
    @include zen-grid-item(10, 2);
  }
  .placard--reset {
    @include zen-grid-item(10, 2);
  }
  .placard--profile {
    @include zen-grid-item(12, 1);
  }

}

/**
* Zen Grid Settings (Desktop)
*/
@media screen and (min-width: $width-desktop) {
 
  /** Variables */ 
  $grid-desktop:940px;

  /** Containers */
  .header__inner,
  .body__inner,
  .footer__inner {
    @include grid-width($grid-desktop);
  }

  /** Blocks */ 
  .profiles {
    @include zen-grid-item(12, 1, $gutter-width:0);
  }
  .press {
    float:none;
    width:905px;
    margin:0 auto;
  }
  .nav--about {
    @include zen-grid-item(4, 1);
  }
  .mailing-list {
    @include zen-grid-item(3, 5);
  }
  .copyright {
    @include zen-grid-item(4, 1, right);
    @include zen-clear(right);
  }
  .links {
    @include zen-grid-item(4, 1, right);
    @include zen-clear(right);
  }
  .placard--register {
    @include zen-grid-item(8, 3);
  }
  .placard--login {
    @include zen-grid-item(8, 3);
  }
  .placard--reset {
    @include zen-grid-item(8, 3);
  }
}

/**
* Zen Grid Settings (XL)
*/
@media screen and (min-width: $width-xl) {
 
  /** Variables */ 
 
  /** Containers */
  .page__header,
  .page__body,
  .page__footer {
  }

  /** Blocks */ 

}
