<div class="links">
  <ul class="links__list">
    <li class="links__item links__item--contact">
      Contact us at: <a class="links__link" href="mailto:connect@watsi.org"><span class="links__copy">connect@watsi.org</span></a>
    </li>
    <li class="links__item links__item--photo">
      <a class="links__link" href="http://www.flickr.com/photos/julien_harneis/"><span class="links__copy">Julien H.</span></a> (Photo)
    </li>
    <li class="links__item links__item--privacy">
      <a class="links__link" href="/privacy"><span class="links__copy">Privacy</span></a>
    </li>
    <li class="links__item links__item--terms">
      <a class="links__link" href="/terms"><span class="links__copy">Terms of Use</span></a>
    </li>
  </ul>
</div>
