<nav class="nav nav--primary">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link nav__link--alt" href="/fund-treatments"><span class="nav__copy">View Patients</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about"><span class="nav__copy">About Us</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/faq"><span class="nav__copy">FAQ</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/registration"><span class="nav__copy">Sign Up</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/donors/sign_in"><span class="nav__copy">Log In</span></a>
    </li>
  </ul>
</nav>
