<nav class="nav nav--hero">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#how-watsi-works"><span class="nav__copy">How Watsi Works</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#about"><span class="nav__copy">About</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#story"><span class="nav__copy">Story</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#get-involved"><span class="nav__copy">Get Involved</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#values"><span class="nav__copy">Values</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#team"><span class="nav__copy">Team</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="http://watsi.tumblr.com/" target="_blank"><span class="nav__copy">Blog</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#advisors"><span class="nav__copy">Advisors</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#contact"><span class="nav__copy">Contact</span></a>
    </li>
  </ul>
</nav>
