<nav class="nav nav--about">
  <h4 class="nav__heading">
    About Us
  </h3>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="/about#story"><span class="nav__copy">Story</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about#values"><span class="nav__copy">Values</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about#team"><span class="nav__copy">Team</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about#contact"><span class="nav__copy">Contact</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about#get-involved"><span class="nav__copy">Get Involved</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/about#faq"><span class="nav__copy">FAQ</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="http://twitter.com/watsi" target="_blank"><span class="nav__copy">Twitter</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="http://facebook.com/Watsi.org" target="_blank"><span class="nav__copy">Facebook</span></a>
    </li>
  </ul>
</nav>
