<nav class="nav nav--info">
  <h3 class="nav__heading">
    100% of your donation directly funds treatment!
  </h3>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link nav__link--how" href="/about#how-watsi-works"><span class="nav__copy">How Watsi Works</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--blog" href="http://blog.watsi.com"><span class="nav__copy">Blog</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--connect" href="/about#get-involved"><span class="nav__copy">Connect With Us</span></a>
    </li>
  </ul>
</nav>
