<div class="press">
  <h3 class="press__heading">Featured In:</h3>
  <ul class="press__list">
    <li class="press__item press__item--techcrunch">
      <a class="press__link" href="http://www.nytimes.com/2013/04/14/business/watsi-a-crowdfunding-site-offers-help-with-medical-care.html" target="_blank"><span class="press__copy">TechCrunch</span></a>
    </li>
    <li class="press__item press__item--wired">
      <a class="press__link" href="http://www.wired.co.uk/news/archive/2012-09/05/watsi" target="_blank"><span class="press__copy">Wired</span></a>
    </li>
    <li class="press__item press__item--huffpo">
      <a class="press__link" href="http://www.huffingtonpost.ca/2012/09/10/crowdfunding-platform-watsi_n_1865120.html" target="_blank"><span class="press__copy">The Huffington Post</span></a>
    </li>
    <li class="press__item press__item--nbc">
      <a class="press__link" href="http://www.nbcnews.com/technology/technolog/watsi-kickstarter-third-world-medical-care-966283" target="_blank"><span class="press__copy">NBC</span></a>
    </li>
    <li class="press__item press__item--fastco">
      <a class="press__link" href="http://www.fastcoexist.com/1680490/making-medical-care-affordable-in-developing-countries-with-help-from-the-crowd" target="_blank"><span class="press__copy">Fast Company</span></a>
    </li>
  </ul>
</div>
