<article class="profile profile--middle profile--3947121e4eea-reaska profile--full" itemscope itemtype="http://schema.org/Person">
  <header class="profile__heading">
    <time class="profile__timestamp" datetime="2013-07-22" pubdate></time>
    <a class="profile__link" href="/profile/1f1d661563df-khumbha">
      <img class="profile__image" itemprop="image" src="/img/badge_Reaska-Site-Photo.jpg" />
    </a>
  </header>
  <div class="profile__body">
    <div class="profile__progress progress">
      <div class="progress__info">
        <span class="progress__remaining">$215 To Go</span>
        <span class="progress__donors">4 Donors</span>
      </div>
      <div class="progress__meter progress-bar">
        <div class="progress-bar__fill" style="width:92%;"></div>
      </div>
    </div>
    <p class="profile__copy" itemprop="description">
      15-year-old <span itemprop="givenName">Reaska</span> is an ambitious teenager from Cambodia who enjoys reading in his free time. Six weeks ago, Reasksa was in a motorbike accident and broke his arm. Reaska ...
    </p>
  </div>
  <footer class="profile__footer">
    <a class="profile__cta" itemprop="url" href="/profile/1f1d661563df-khumbha">
      Read More
    </a>
  </footer>
</article>
