<article class="profile profile--full profile--ab4b0095f403-rahel" itemscope itemtype="http://schema.org/Person">
  <header class="profile__heading">
    <time class="profile__timestamp" datetime="2013-07-22" pubdate></time>
    <a class="profile__link" href="/profile/1f1d661563df-khumbha">
      <img class="profile__image" itemprop="image" src="/img/badge_Rahel-Site-Photo.jpg" />
    </a>
  </header>
  <div class="profile__body">
    <div class="profile__progress progress">
      <div class="progress__info">
        <span class="progress__remaining">$195 To Go</span>
        <span class="progress__donors">8 Donors</span>
      </div>
      <div class="progress__meter progress-bar">
        <div class="progress-bar__fill" style="width:32%;"></div>
      </div>
    </div>
    <p class="profile__copy" itemprop="description">
      <span itemprop="givenName">Rahel</span> is the oldest of four children and lives with her family in Tanzania. She helps her mother around the house while her father works as a security guard to support their ...
    </p>
  </div>
  <footer class="profile__footer">
    <a class="profile__cta" itemprop="url" href="/profile/1f1d661563df-khumbha">
      Read More
    </a>
  </footer>
</article>
