<article class="profile profile--1f1d661563df-khumbha" itemscope itemtype="http://schema.org/Person">
  <header class="profile__heading">
    <time class="profile__timestamp" datetime="2013-07-22" pubdate></time>
    <a class="profile__link" href="/profile/1f1d661563df-khumbha">
      <img class="profile__image" itemprop="image" src="/img/badge_Khumbha-Site-Photo.jpg" />
    </a>
  </header>
  <div class="profile__body">
    <div class="profile__progress progress">
      <div class="progress__info">
        <span class="progress__remaining">$775 raised</span>
        <span class="progress__donors">15 Donors</span>
      </div>
      <div class="progress__meter progress-bar">
        <div class="progress-bar__fill" style="width:100%;"></div>
      </div>
    </div>
    <p class="profile__copy" itemprop="description">
      <span itemprop="givenName">Khumbha</span> Khumbha needs surgery to fix a forearm fracture he sustained after accidentally falling from 15 feet in the air. He walked for three days to seek treatment at Nyaya Health, but ...
    </p>
  </div>
  <footer class="profile__footer">
    <a class="profile__cta" itemprop="url" href="/profile/1f1d661563df-khumbha">
      Fully Funded!
    </a>
  </footer>
</article>
