/**
* Block Stylesheet: footer
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           YYYY-MM-DD
* @lastmodified   YYYY-MM-DD HH:MM
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.footer {
  background: $bg-footer-color;
  border-top:1px solid $border-color;
  margin-top:50px;
  padding-top:40px;
  padding-bottom:40px;
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .footer {
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .footer {
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .footer {
  }

}
