/**
* Block Stylesheet: hero
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           2013-07-21
* @lastmodified   2013-07-21 11:41
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.hero {
  margin-top:10px;
  padding:0 10px 25px 10px;
  border-bottom:1px solid $border-light-color;
  .hero__heading {
    font-family:$heading-font;
    @include adjust-font-size-to(28px);
    margin-top:10px;
    text-align:center;
  }
  .hero__subheading {
    font-family:$heading-font;
    @include adjust-font-size-to(18px);
    margin-top:10px;
    text-align:center;
  }
  .hero__cta {
    margin-top:10px;
  }
  .hero__button {
    @include button-red;
  }
}

.hero--kofi {
  padding-bottom:10px;
  .hero__cta {
    display:none;
  }
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .hero {
    margin-top:0;
    padding:0;
    .hero__inner {
      padding-left:5%;
    }
    .hero__heading {
      text-align:left;
      color:$hero-text-color;
      @include adjust-font-size-to(28px);
      margin-top:0;
      padding-top:35px;
      width:350px;
    }
    .hero__subheading {
      width:350px;
      text-align:left;
      color:$hero-text-color;
      @include adjust-font-size-to(20px);
      margin-top:0;
    }
    .hero__cta {
      width:200px;
    }
  }

  .hero--teethy {
    height:250px;  
    background:url('/img/hero--teethy.jpg');
    background-size:cover;
  }

  .hero--kofi {
    height:250px;  
    background:url('/img/hero--kofi.jpg');
    background-position:0 50%;
    background-size:cover;
    .hero__heading {
      display:none;
    }
    .hero__subheading {
      display:none;
    }
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .hero {
    width:940px;
    margin:25px auto 0;
    .hero__heading {
      @include adjust-font-size-to(34px);
      width:400px;
    }
    .hero__subheading {
      @include adjust-font-size-to(20px);
      width:400px;
    }
  }

  .hero--kofi {
    background-position:0 80%;
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .hero {
  }

}
