/**
* Block Stylesheet: nav
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           2013-07-21
* @lastmodified   2013-07-21 11:41
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.nav {
  .nav__item {
  }
  .nav__link {
    display:block;
  }
}

.nav--primary {
  @include transition-property(margin-top);
  @include transition-duration(1s);
  margin-top:-100%;
  position:relative;
  z-index:$layer-middle;
  .nav__item {
    float:left;
    width:100%;
  }
  .nav__link {
    width:100%;
    padding:10px 0;
    text-align:center;
    text-transform:capitalize;
    color:$link-color;
    text-decoration:none;
    &:hover {
      color:$link-hover-color;
    }
  }
  .nav__link--alt {
    color:$link-alt-color;
    &:hover {
      color:$link-alt-hover-color;
    }
  }
  &.nav--open {
    margin-top:0;
  }
}

.nav--info {
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:1px solid $border-light-color;
  .nav__heading {
    font-family:$heading-font;
    @include adjust-font-size-to(26px);
    text-align:center;
  }
  .nav__item {
  }
  .nav__link {
    background:url('/img/sprite.png');
    height:189px;
    width:189px;
    margin:20px auto 0;
    @include text-replace;
  }
  .nav__link--how {
    background-position:-384px -2px;
    &:hover {
      background-position:-384px -269px;
    }
  }
  .nav__link--blog {
    background-position:0px -2px;
    &:hover {
      background-position:0px -269px;
    }
  }
  .nav__link--connect {
    background-position:-192px -2px;
    &:hover {
      background-position:-192px -269px;
    }
  }
}

.nav--about {
  @include micro-clearfix;
  @include adjust-font-size-to(14px);
  border-bottom:1px solid $border-color;
  padding-bottom:20px;
  .nav__list {
  }
  .nav__item {
    float:left;
    width:50%;
    margin-top:10px;
  }
  .nav__link {
    color:$link-color;
    &:before {
      content:"» ";
      @include adjust-font-size-to(12px);
    }
  }
}

.nav--hero {
  display:none;
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .nav {
  }

  .nav--primary {
    margin-top:0;
    .nav__list {
      float:right;
    }
    .nav__item {
      margin-left:20px;
      display:inline;
      width:auto;
    }
    .nav__link {
      @include adjust-font-size-to(15px);
      display:inline;
      height:75px;
      line-height:75px;
    }
  }

  .nav--info {
    padding-top:0;
    padding-bottom:40px;
    .nav__heading {
      position:relative;
      top:-20px;
      background:$bg-alt-color;
      width:450px;
      margin:0 auto;
    }
    .nav__list {
      margin-left:1%;
    }
    .nav__item {
      float:left;
      width:33%;
    }
    .nav__link {
      margin-top:0;
    }
  }

  .nav--about {
    padding-bottom:0;
    border-bottom:none;
  }

  .nav--hero {
    display:block;
    width:100%;
    .nav__list {
      background:$bg-alt-dark-color;
      @include micro-clearfix;
    }
    .nav__item {
      float:left;
      width:11%;
      text-align:center;
      height:35px;
      overflow:hidden;
    }
    .nav__link {
      color:$link-color;
      @include adjust-font-size-to(12px);
      line-height:35px;
    }
    .nav__copy {
      display:block;
      border-left:1px dotted $border-dark-color;
    }
    .nav__item {
      &:first-child {
        width:12%;
        .nav__copy {
          border-left:none;
        }
      }
    }
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .nav {
  }

  .nav--hero {
    width:940px;
    margin:0 auto;
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .nav {
  }

}
