/**
* Block Stylesheet: press
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           YYYY-MM-DD
* @lastmodified   YYYY-MM-DD HH:MM
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.press {
  padding-top:20px;
  padding-bottom:20px;
  .press__heading {
    margin:0 auto 20px;
    width:300px;
    @include adjust-font-size-to(15px); 
  }
  .press__list {
  }
  .press__item {
    margin:40px 0 0;
    &:first-child {
      margin-top:0;
    }
  }
  .press__link {
    display:block;
    margin:0 auto;
    background:url('/img/sprite.png');
    @include text-replace;
  }
  .press__item {
  }
  .press__item--techcrunch {
    .press__link {
      height:20px;
      width:145px;
      background-position:-1053px -129px;
      &:hover {
        background-position:-1053px -109px;
      }
    }
  }
  .press__item--wired {
    .press__link {
      height:30px;
      width:150px;
      background-position:-1053px -242px;
      &:hover {
        background-position:-1053px -210px;
      }
    }
  }
  .press__item--huffpo {
    .press__link {
      height:52px;
      width:150px;
      background-position:-1053px -56px;
      &:hover {
        background-position:-1053px 0px;
      }
    }
  }
  .press__item--nbc {
    .press__link {
      height:67px;
      width:119px;
      background-position:-1068px -338px;
      &:hover {
        background-position:-1068px -270px;
      }
    }
  }
  .press__item--fastco {
    .press__link {
      height:24px;
      width:150px;
      background-position:-1053px -177px;
      &:hover {
        background-position:-1053px -152px;
      }
    }
  }
  .press__copy {
  }
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .press {
    .press__heading {
      margin:0 0 20px;
      width:100%;
    }
    .press__item {
      float:left;
      margin-top:0;
    }
    .press__item--techcrunch {
      width:32%;
      margin-left:1%;
      height:75px;
      padding-top:27px;
      .press__link {
        height:20px;
        width:145px;
        background-position:-1053px -129px;
        &:hover {
          background-position:-1053px -109px;
        }
      }
    }
    .press__item--wired {
      width:32%;
      height:75px;
      padding-top:22px;
      .press__link {
        height:30px;
        width:150px;
        background-position:-1053px -242px;
        &:hover {
          background-position:-1053px -210px;
        }
      }
    }
    .press__item--huffpo {
      width:32%;
      height:75px;
      padding-top:12px;
      .press__link {
        height:52px;
        width:150px;
        background-position:-1053px -56px;
        &:hover {
          background-position:-1053px 0px;
        }
      }
    }
    .press__item--nbc {
      width:32%;
      margin-left:18%;
      height:75px;
      padding-top:4px;
      .press__link {
        height:67px;
        width:119px;
        background-position:-1068px -338px;
        &:hover {
          background-position:-1068px -270px;
        }
      }
    }
    .press__item--fastco {
      width:32%;
      height:75px;
      padding-top:25px;
      .press__link {
        height:24px;
        width:150px;
        background-position:-1053px -177px;
        &:hover {
          background-position:-1053px -152px;
        }
      }
    }
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .press {
    padding-top:40px;
    padding-bottom:0;
    .press__heading {
      float:left;
      width:auto;
      line-height:75px;
      margin:0;
    }
    .press__item {
      padding-left:20px;
      padding-top:0;
      width:auto;
      display:table-cell;
      vertical-align:middle;
      float:none;
    }
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .press {
  }

}
