/**
* Block Stylesheet: press
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           YYYY-MM-DD
* @lastmodified   YYYY-MM-DD HH:MM
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.press {
  padding-top:20px;
  padding-bottom:20px;
  .press__heading {
    margin:0 auto 20px;
    width:300px;
    @include adjust-font-size-to(15px); 
  }
  .press__list {
  }
  .press__item {
    margin:40px auto 0;
    background:url('/img/sprite.png');
    @include text-replace;
    &:first-child {
      margin-top:0;
    }
  }
  .press__item--techcrunch {
    height:20px;
    width:145px;
    background-position:-1053px -129px;
    &:hover {
      background-position:-1053px -109px;
    }
  }
  .press__item--wired {
    height:30px;
    width:150px;
    background-position:-1053px -242px;
    &:hover {
      background-position:-1053px -210px;
    }
  }
  .press__item--huffpo {
    height:52px;
    width:150px;
    background-position:-1053px -56px;
    &:hover {
      background-position:-1053px 0px;
    }
  }
  .press__item--nbc {
    height:67px;
    width:119px;
    background-position:-1068px -338px;
    &:hover {
      background-position:-1068px -270px;
    }
  }
  .press__item--fastco {
    height:24px;
    width:150px;
    background-position:-1053px -177px;
    &:hover {
      background-position:-1053px -152px;
    }
  }
  .press__link {
  }
  .press__copy {
  }
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .press {
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .press {
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .press {
  }

}
