/**
* Block Stylesheet: profiles
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           2013-07-21
* @lastmodified   2013-07-21 11:41
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.profiles {
  padding-bottom:20px;
  padding-top:20px;
  border-bottom:1px solid $border-light-color;
  .profiles__heading { 
    margin:0 auto 20px;
    width:300px;
    @include adjust-font-size-to(15px); 
  }
  .profiles__body {
    width:100%;
    @include micro-clearfix();
  }
  .profiles__footer {
    width:300px;
    text-align:right;
    margin:20px auto 0;
  }
  .profiles__link {
    @include adjust-font-size-to(15px); 
  }
}


/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .profiles {
  padding-bottom:40px;
    .profiles__heading {
      margin:0 0 20px;
      width:100%;
    }
    .profiles__footer {
      margin:20px 0 0;
      width:100%;
    }
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .profiles {
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .profiles {
  }

}
