/**
* Block Stylesheet: progress
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           2013-07-21
* @lastmodified   2013-07-21 11:41
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.progress {
  display:block;
  .progress__info {
    @include adjust-font-size-to(15px);
  }
  .progress__remaining {
  }
  .progress__donors {
    &:before {
      content:' | ';
    }
  }
  .progress__meter {
    margin-top:10px
  }
}

.progress--tile {
  .progress__info {
    text-align:center;
  }
}

.progress--profile {
  .progress__info {
    margin-top:10px;
  }
  .progress__percent {
    width:50%;
    display:block;
    float:left;
    font-weight:bold;
    @include adjust-font-size-to(28px);
    &:after {
      position:relative;
      left:10px;
      bottom:4px;
      font-size:16px;
      content:'Funded';
      text-transform:uppercase;
      text-decoration:underline;
    }
  }
  .progress__remaining {
    width:50%;
    display:block;
    float:left;
    font-weight:bold;
    @include adjust-font-size-to(28px);
    &:after {
      content:'To Go';
      position:relative;
      left:10px;
      bottom:4px;
      font-size:16px;
      text-transform:uppercase;
      text-decoration:underline;
    }
  }
  .progress__donors {
    display:none;
  }
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .progress {
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .progress {
  }

  .progress--profile {
    .progress__percent {
      @include adjust-font-size-to(38px);
      &:after {
        bottom:8px;
      }
    }
    .progress__remaining {
      @include adjust-font-size-to(38px);
      &:after {
        bottom:8px;
      }
    }
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .progress {
  }

}
