/**
* Block Stylesheet: verse
* 
* @project        example.com
* @author         Matthew White <me@kaishi.ro>
* @date           YYYY-MM-DD
* @lastmodified   YYYY-MM-DD HH:MM
*/

/**
* Base Partial Import
*/
@import 'base';

/**
* Block Styling (Mobile)
*/
.verse {
  margin-top:20px;
  padding-bottom:20px;
  .verse__heading {
    font-weight:bold; 
    margin-bottom:10px;
  }
  .verse__subheading {
    text-decoration:underline;
  }
  .verse__list--ordered {
    list-style:decimal outside none;
    margin-left:20px;
  }
  .verse__item {
    margin:10px 0;
  }
}

.verse--separator {
  border-bottom:1px solid $border-color;
}

/**
* Block Styling (Tablet)
*/
@media screen and (min-width: $width-tablet) {

  .verse {
  }

}

/**
* Block Styling (Desktop)
*/
@media screen and (min-width: $width-desktop) {

  .verse {
  }

}

/**
* Block Styling (XL)
*/
@media screen and (min-width: $width-xl) {

  .verse {
  }

}
