/* line 18, ../../scss/blocks/logo.scss */
.logo {
  position: relative;
  z-index: 300;
  background: white;
}
/* line 22, ../../scss/blocks/logo.scss */
.logo .logo__link {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
/* line 27, ../../scss/blocks/logo.scss */
.logo .logo__image {
  width: 155px;
}

@media screen and (min-width: 768px) {
  /* line 40, ../../scss/blocks/logo.scss */
  .logo .logo__link {
    height: 75px;
  }
}
