/* line 18, ../../scss/blocks/logo.scss */
.logo {
  position: relative;
  z-index: 300;
  background: white;
}
/* line 22, ../../scss/blocks/logo.scss */
.logo .logo__link {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
/* line 27, ../../scss/blocks/logo.scss */
.logo .logo__image {
  width: 155px;
}
/* line 30, ../../scss/blocks/logo.scss */
.logo .logo__copy {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: right;
}
