/* line 18, ../../scss/blocks/nav-toggle.scss */
.nav-toggle {
  position: absolute;
  right: 10px;
  font-size: 30px;
  line-height: 50px;
  z-index: 300;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  /* line 32, ../../scss/blocks/nav-toggle.scss */
  .nav-toggle {
    display: none;
  }
}
