@charset "UTF-8";
/* line 21, ../../scss/blocks/nav.scss */
.nav .nav__link {
  display: block;
}

/* line 26, ../../scss/blocks/nav.scss */
.nav--primary {
  -webkit-transition-property: margin-top;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  margin-top: -100%;
  position: relative;
  z-index: 200;
}
/* line 32, ../../scss/blocks/nav.scss */
.nav--primary .nav__item {
  float: left;
  width: 100%;
}
/* line 36, ../../scss/blocks/nav.scss */
.nav--primary .nav__link {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  color: #686868;
  text-decoration: none;
}
/* line 43, ../../scss/blocks/nav.scss */
.nav--primary .nav__link:hover {
  color: #353535;
}
/* line 47, ../../scss/blocks/nav.scss */
.nav--primary .nav__link--alt {
  color: #197ad0;
}
/* line 49, ../../scss/blocks/nav.scss */
.nav--primary .nav__link--alt:hover {
  color: #145fa2;
}
/* line 53, ../../scss/blocks/nav.scss */
.nav--primary.nav--open {
  margin-top: 0;
}

/* line 58, ../../scss/blocks/nav.scss */
.nav--info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 62, ../../scss/blocks/nav.scss */
.nav--info .nav__heading {
  font-family: "MisoLight", Helvetica, Arial, sans-serif;
  font-size: 1.625em;
  line-height: 1.53846em;
  text-align: center;
}
/* line 69, ../../scss/blocks/nav.scss */
.nav--info .nav__link {
  background: url("/img/sprite.png");
  height: 189px;
  width: 189px;
  margin: 20px auto 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 76, ../../scss/blocks/nav.scss */
.nav--info .nav__link--how {
  background-position: -384px -2px;
}
/* line 78, ../../scss/blocks/nav.scss */
.nav--info .nav__link--how:hover {
  background-position: -384px -269px;
}
/* line 82, ../../scss/blocks/nav.scss */
.nav--info .nav__link--blog {
  background-position: 0px -2px;
}
/* line 84, ../../scss/blocks/nav.scss */
.nav--info .nav__link--blog:hover {
  background-position: 0px -269px;
}
/* line 88, ../../scss/blocks/nav.scss */
.nav--info .nav__link--connect {
  background-position: -192px -2px;
}
/* line 90, ../../scss/blocks/nav.scss */
.nav--info .nav__link--connect:hover {
  background-position: -192px -269px;
}

/* line 96, ../../scss/blocks/nav.scss */
.nav--about {
  zoom: 1;
  font-size: 0.875em;
  line-height: 1.42857em;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}
/* line 30, ../../scss/_mixins.scss */
.nav--about:before, .nav--about:after {
  content: "";
  display: table;
}
/* line 34, ../../scss/_mixins.scss */
.nav--about:after {
  clear: both;
}
/* line 103, ../../scss/blocks/nav.scss */
.nav--about .nav__item {
  float: left;
  width: 50%;
  margin-top: 10px;
}
/* line 108, ../../scss/blocks/nav.scss */
.nav--about .nav__link {
  color: #686868;
}
/* line 110, ../../scss/blocks/nav.scss */
.nav--about .nav__link:before {
  content: "» ";
  font-size: 0.75em;
  line-height: 1.66667em;
}

/* line 117, ../../scss/blocks/nav.scss */
.nav--hero {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 129, ../../scss/blocks/nav.scss */
  .nav--primary {
    margin-top: 0;
  }
  /* line 131, ../../scss/blocks/nav.scss */
  .nav--primary .nav__list {
    float: right;
  }
  /* line 134, ../../scss/blocks/nav.scss */
  .nav--primary .nav__item {
    margin-left: 20px;
    display: inline;
    width: auto;
  }
  /* line 139, ../../scss/blocks/nav.scss */
  .nav--primary .nav__link {
    font-size: 0.9375em;
    line-height: 1.33333em;
    display: inline;
    height: 75px;
    line-height: 75px;
  }

  /* line 147, ../../scss/blocks/nav.scss */
  .nav--info {
    padding-top: 0;
    padding-bottom: 40px;
  }
  /* line 150, ../../scss/blocks/nav.scss */
  .nav--info .nav__heading {
    position: relative;
    top: -20px;
    background: #f8f8f8;
    width: 450px;
    margin: 0 auto;
  }
  /* line 157, ../../scss/blocks/nav.scss */
  .nav--info .nav__list {
    margin-left: 1%;
  }
  /* line 160, ../../scss/blocks/nav.scss */
  .nav--info .nav__item {
    float: left;
    width: 33%;
  }
  /* line 164, ../../scss/blocks/nav.scss */
  .nav--info .nav__link {
    margin-top: 0;
  }

  /* line 169, ../../scss/blocks/nav.scss */
  .nav--about {
    padding-bottom: 0;
    border-bottom: none;
  }

  /* line 174, ../../scss/blocks/nav.scss */
  .nav--hero {
    display: block;
    width: 100%;
  }
  /* line 177, ../../scss/blocks/nav.scss */
  .nav--hero .nav__list {
    background: #e5e5e5;
    zoom: 1;
  }
  /* line 30, ../../scss/_mixins.scss */
  .nav--hero .nav__list:before, .nav--hero .nav__list:after {
    content: "";
    display: table;
  }
  /* line 34, ../../scss/_mixins.scss */
  .nav--hero .nav__list:after {
    clear: both;
  }
  /* line 181, ../../scss/blocks/nav.scss */
  .nav--hero .nav__item {
    float: left;
    width: 11%;
    text-align: center;
    height: 35px;
    overflow: hidden;
  }
  /* line 188, ../../scss/blocks/nav.scss */
  .nav--hero .nav__link {
    color: #686868;
    font-size: 0.75em;
    line-height: 1.66667em;
    line-height: 35px;
  }
  /* line 193, ../../scss/blocks/nav.scss */
  .nav--hero .nav__copy {
    display: block;
    border-left: 1px dotted #bfbfbf;
  }
  /* line 198, ../../scss/blocks/nav.scss */
  .nav--hero .nav__item:first-child {
    width: 12%;
  }
  /* line 200, ../../scss/blocks/nav.scss */
  .nav--hero .nav__item:first-child .nav__copy {
    border-left: none;
  }
}
@media screen and (min-width: 1024px) {
  /* line 217, ../../scss/blocks/nav.scss */
  .nav--hero {
    width: 940px;
    margin: 0 auto;
  }
}
