/* line 19, ../../scss/blocks/profile.scss */
.profile:first-child {
  margin-top: 0;
}
/* line 26, ../../scss/blocks/profile.scss */
.profile .profile__body {
  padding: 10px 20px 0;
}
/* line 29, ../../scss/blocks/profile.scss */
.profile .profile__link {
  display: block;
}
/* line 32, ../../scss/blocks/profile.scss */
.profile .profile__image {
  width: 100%;
}
/* line 37, ../../scss/blocks/profile.scss */
.profile .profile__copy {
  margin-top: 10px;
  font-size: 15px;
  line-height: 21px;
}
/* line 42, ../../scss/blocks/profile.scss */
.profile .profile__footer {
  padding: 10px 20px 20px;
}
/* line 45, ../../scss/blocks/profile.scss */
.profile .profile__cta {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  display: block;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  background: #166cb9;
  color: white;
}
/* line 84, ../../scss/_mixins.scss */
.profile .profile__cta:hover {
  background: #135fa2;
}

/* line 50, ../../scss/blocks/profile.scss */
.profile--full {
  margin: 20px auto 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8;
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8;
  box-shadow: 0 1px 2px 0 #d8d8d8;
  background: white;
  width: 300px;
}

/* line 59, ../../scss/blocks/profile.scss */
.profile--summary {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 69, ../../scss/blocks/profile.scss */
  .profile {
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
    width: 32%;
  }
  /* line 74, ../../scss/blocks/profile.scss */
  .profile .profile__copy {
    min-height: 170px;
  }
  /* line 77, ../../scss/blocks/profile.scss */
  .profile.profile--middle {
    margin: 0 2%;
  }

  /* line 81, ../../scss/blocks/profile.scss */
  .profile--summary {
    width: 100%;
    margin-bottom: 0;
  }
  /* line 84, ../../scss/blocks/profile.scss */
  .profile--summary .profile__image {
    max-width: 250px;
  }
  /* line 87, ../../scss/blocks/profile.scss */
  .profile--summary .profile__summary {
    max-width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 99, ../../scss/blocks/profile.scss */
  .profile {
    width: 300px;
  }
  /* line 101, ../../scss/blocks/profile.scss */
  .profile.profile--middle {
    margin: 0 20px;
  }
  /* line 104, ../../scss/blocks/profile.scss */
  .profile .profile__copy {
    min-height: auto;
  }

  /* line 109, ../../scss/blocks/profile.scss */
  .profile--summary {
    width: 100%;
  }
  /* line 111, ../../scss/blocks/profile.scss */
  .profile--summary .profile__image {
    max-width: none;
  }
  /* line 114, ../../scss/blocks/profile.scss */
  .profile--summary .profile__summary {
    max-width: none;
  }
}
