/* line 18, ../../scss/blocks/profile.scss */
.profile {
  margin: 20px auto 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8;
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8;
  box-shadow: 0 1px 2px 0 #d8d8d8;
  background: white;
  width: 300px;
}
/* line 25, ../../scss/blocks/profile.scss */
.profile:first-child {
  margin-top: 0;
}
/* line 32, ../../scss/blocks/profile.scss */
.profile .profile__body {
  padding: 10px 20px 0;
}
/* line 35, ../../scss/blocks/profile.scss */
.profile .profile__link {
  display: block;
}
/* line 38, ../../scss/blocks/profile.scss */
.profile .profile__image {
  width: 100%;
}
/* line 43, ../../scss/blocks/profile.scss */
.profile .profile__copy {
  margin-top: 10px;
  font-size: 15px;
  line-height: 21px;
}
/* line 48, ../../scss/blocks/profile.scss */
.profile .profile__footer {
  padding: 10px 20px 20px;
}
/* line 51, ../../scss/blocks/profile.scss */
.profile .profile__cta {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  display: block;
  cursor: pointer;
  border: none;
  background: #166cb9;
  color: white;
}
/* line 79, ../../scss/_mixins.scss */
.profile .profile__cta:hover {
  background: #135fa2;
}

@media screen and (min-width: 768px) {
  /* line 62, ../../scss/blocks/profile.scss */
  .profile {
    float: left;
    margin-top: 0;
    width: 32%;
  }
  /* line 66, ../../scss/blocks/profile.scss */
  .profile .profile__copy {
    min-height: 170px;
  }
  /* line 69, ../../scss/blocks/profile.scss */
  .profile.profile--middle {
    margin: 0 2%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 81, ../../scss/blocks/profile.scss */
  .profile {
    width: 300px;
  }
  /* line 83, ../../scss/blocks/profile.scss */
  .profile.profile--middle {
    margin: 0 20px;
  }
  /* line 86, ../../scss/blocks/profile.scss */
  .profile .profile__copy {
    min-height: auto;
  }
}
