/* line 18, ../../scss/blocks/profiles.scss */
.profiles {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 22, ../../scss/blocks/profiles.scss */
.profiles .profiles__heading {
  margin: 0 auto 20px;
  width: 300px;
  font-size: 0.9375em;
  line-height: 1.33333em;
}
/* line 27, ../../scss/blocks/profiles.scss */
.profiles .profiles__body {
  width: 100%;
  zoom: 1;
}
/* line 30, ../../scss/_mixins.scss */
.profiles .profiles__body:before, .profiles .profiles__body:after {
  content: "";
  display: table;
}
/* line 34, ../../scss/_mixins.scss */
.profiles .profiles__body:after {
  clear: both;
}
/* line 31, ../../scss/blocks/profiles.scss */
.profiles .profiles__footer {
  width: 300px;
  text-align: right;
  margin: 20px auto 0;
}
/* line 36, ../../scss/blocks/profiles.scss */
.profiles .profiles__link {
  font-size: 0.9375em;
  line-height: 1.33333em;
}

/* line 41, ../../scss/blocks/profiles.scss */
.profiles--listing {
  border-bottom: none;
}
/* line 43, ../../scss/blocks/profiles.scss */
.profiles--listing .profiles__heading {
  text-align: right;
}

@media screen and (min-width: 768px) {
  /* line 53, ../../scss/blocks/profiles.scss */
  .profiles {
    padding-bottom: 40px;
  }
  /* line 55, ../../scss/blocks/profiles.scss */
  .profiles .profiles__heading {
    margin: 0 0 20px;
    width: 100%;
  }
  /* line 59, ../../scss/blocks/profiles.scss */
  .profiles .profiles__footer {
    margin: 20px 0 0;
    width: 100%;
  }
}
